/* ---------- base ---------- */
@font-face {
  font-family: 'ArialBold';
  src: url("../fonts/font_name.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

body {
  background: #fff;
  color: #000;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

button, select, input, textarea {
  outline: none;
}

figure {
  margin: 0;
}

img {
  display: block;
}

label {
  display: none;
}

/* ---------- classes ---------- */
.container {
  max-width: 100%;
  min-width: 320px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.nowrap {
  white-space: nowrap;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.responsive-iframe {
  position: relative;
  padding-bottom: 56.25%;
  /*16:9*/
  height: 0;
  overflow: hidden;
}

.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.timer {
  max-width: 282px;
  width: 100%;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.timer .time {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.timer .time-item {
  box-sizing: border-box;
  padding-bottom: 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2px;
  color: #3258a4;
}

.timer .time-item:first-child {
  margin-left: 0;
}

.timer .time-num {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer .time-num span {
  background: url(../img/timer-cell-bg.png) no-repeat 50% 50%;
  width: 35px;
  height: 50px;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  color: #d4d4d4;
}

.timer .time-text {
  margin-top: 2px;
  text-transform: uppercase;
  color: #222;
}

.privacy-modal {
  display: none;
  max-width: 750px;
  padding: 50px;
}

@media (max-width: 767px) {
  .privacy-modal {
    padding: 50px 40px;
  }
}

@media (max-width: 575px) {
  .privacy-modal {
    padding: 40px 20px;
  }
}

.privacy-modal__title {
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
}

.privacy-modal__paragraphs {
  text-align: justify;
  line-height: 1.5;
  font-size: 18px;
  color: #333;
}

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 22px 50px;
  line-height: 1;
  font-size: 16px;
  letter-spacing: 0.08em;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  color: #000;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out, background-color .3s ease-in-out, box-shadow .3s;
}

.btn_orange {
  background: #ff6000;
  color: #fff;
  box-shadow: 0 0 7px rgba(255, 72, 0, 0);
}

.btn_orange:hover {
  background: #ff4800;
  box-shadow: 0 0 7px #ff4800;
}

.btn_block {
  display: block;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.h1 {
  font-size: 40px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #6e1969;
}

@media (max-width: 575px) {
  .h1 {
    font-size: 6vw;
  }
}

@media (max-width: 400px) {
  .h1 {
    font-size: 24px;
  }
}

.price {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.price__old {
  display: inline-block;
  position: relative;
  padding: 0 3px;
  color: #000;
}

.price__old:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 3px;
  background: #ff0000;
}

.price__current {
  color: #005385;
}

.order-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.order-form input {
  display: inline-block;
  width: 100%;
  height: 44px;
  padding: 0 20px;
  text-align: center;
  font-size: 18px;
  line-height: 1;
  border-radius: 30px;
  color: #222;
  border: 1px solid #ff6000;
  background: transparent;
  transition: border .3s;
}

.order-form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  text-align: center;
  color: #333;
}

.order-form input::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
  opacity: 1;
  color: #333;
}

.order-form input:-ms-input-placeholder {
  /* IE 10+ */
  text-align: center;
  color: #333;
}

.order-form input:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
  opacity: 1;
  color: #333;
}

.order-form input:focus {
  border-width: 2px;
}

.order-form input:focus::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #333;
}

.order-form input:focus::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
  color: #333;
}

.order-form input:focus:-ms-input-placeholder {
  /* IE 10+ */
  color: #333;
}

.order-form input:focus:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1;
  color: #333;
}

.order-form button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 22px 50px;
  line-height: 1;
  font-size: 16px;
  letter-spacing: 0.08em;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  color: #000;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out, background-color .3s ease-in-out, box-shadow .3s;
  display: block;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.order-form button:focus {
  outline: none;
}

.tt {
  text-transform: uppercase;
}

.wsn {
  white-space: nowrap;
}

.tac {
  text-align: center;
}

/***** hidden tmp blocks *****/
.tmp {
  display: none;
}

/* ---------- partials ---------- */
/***** wrapper *****/
.wrapper {
  overflow: hidden;
}

/***** header *****/
/***** footer *****/
.footer {
  padding: 15px 0 18px;
  background: rgba(0, 0, 0, 0.7);
}

@media (max-width: 500px) {
  .footer {
    padding: 8px 0 10px;
  }
}

.footer .items {
  margin: 0 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1199px) {
  .footer .items {
    margin: 0;
    display: block;
    text-align: center;
  }
}

.footer .item, .footer a[data-fancybox] {
  font: 14px/1.2 Arial;
  color: #e6e6e6;
}

@media (max-width: 500px) {
  .footer .item {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  .footer .item {
    font-size: 12px;
  }
}

.footer .item:nth-child(2) {
  padding: 0 10px;
}

@media (max-width: 1199px) {
  .footer .item:nth-child(2) {
    padding: 0;
  }
}

.footer a[data-fancybox] {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: #e6e6e6;
  transition: color .3s;
}

.footer a[data-fancybox]:before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #e6e6e6;
  top: 100%;
  left: 0;
  -webkit-transform: translateY(3px) scale(0.97);
      -ms-transform: translateY(3px) scale(0.97);
          transform: translateY(3px) scale(0.97);
  background: #fff;
  opacity: 0;
  transition: background-color .3s, opacity .3s, -webkit-transform .3s;
  transition: transform .3s, background-color .3s, opacity .3s;
  transition: transform .3s, background-color .3s, opacity .3s, -webkit-transform .3s;
}

.footer a[data-fancybox]:hover {
  color: #fff;
}

.footer a[data-fancybox]:hover:before {
  background: #fff;
  -webkit-transform: translateY(0px) scale(1);
      -ms-transform: translateY(0px) scale(1);
          transform: translateY(0px) scale(1);
  opacity: 1;
}

/* ---------- plugins own settings ---------- */
.slick-slide {
  outline: none !important;
}

#privacy-modal {
  opacity: 0;
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  transition: all .3s;
}

.fancybox-slide--complete #privacy-modal {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

/* ---------- keyframes ---------- */
