@import 'variables';


@mixin btn() {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 0 50px;
  // font: 18px/1 $NeoSansProRegular;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  color: #000;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out, background-color .3s ease-in-out;
}

@mixin btn_block($w: 100%) {
  display: block;
  width: $w;
  padding-left: 20px;
  padding-right: 20px;
}

@mixin btn_yellow() {
  background: #ffcb00;
  border: 2px solid #ffcb00;
  box-shadow: 0 0 10px rgba(#ffcb00, .16);

  &:hover {
    background: transparent;
    color: #ffcb00;
  }
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin cross-browser-placeholder($color) {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    opacity: 1;
    color: $color;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    opacity: 1;
    color: $color;
  }
}

@mixin cross-browser-input-placeholder($color) {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    opacity: 1;
    color: $color;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    opacity: 1;
    color: $color;
  }
}

@mixin container() {
  max-width: 100%;
  min-width: 320px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  
  @media (min-width: 576px) {
      max-width: 540px;
      padding-right: 15px;
      padding-left: 15px;
  }
  
  @media (min-width: 768px) {
      max-width: 720px;
  }
  
  @media (min-width: 992px) {
      max-width: 960px;
  }
  
  @media (min-width: 1200px) {
      max-width: 1170px;
  }
}

@mixin input() {
  display: inline-block;
  width: 100%;
  height: 66px;
  padding: 10px 20px;
  // font: 16px/66px $RobotoLight;
  color: #efdcaa;
  background: #b96634;
  border: 1px solid #7a3f1c;
}

@mixin inputFull($color) {
  @include input;

  @include cross-browser-input-placeholder($color);
  
  &:focus {
    @include cross-browser-placeholder($color);
  }
}

@mixin ban-selection {
  pointer-events: none;
  user-select: none; 
}

@mixin pseudo {
  content: "";
  display: block;
  position: absolute;
}

@mixin items($justify-content: space-between) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify-content;
}

@mixin h1() {
  // @media (max-width: 767px) {
  //   font-size: 30px;
  // }
}

@mixin h2() {

}

@mixin h3() {
  
}

@mixin h4() {

}

@mixin h5() {

}

@mixin h6() {
  
}