@import 'variables';


@mixin btn() {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 22px 50px;
  // font-family: $Roboto-Regular;
  line-height: 1;
  font-size: 16px;
  letter-spacing: 0.08em;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  color: #000;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out, background-color .3s ease-in-out, box-shadow .3s;
}

@mixin btn_block($w: 100%) {
  display: block;
  width: $w;
  padding-left: 20px;
  padding-right: 20px;
}

@mixin btn_orange() {
  background: #ff6000;
  color: #fff;
  box-shadow: 0 0 7px rgba(#ff4800, 0);

  &:hover {
    background: #ff4800;
    box-shadow: 0 0 7px rgba(#ff4800, 1);
  }
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin cross-browser-placeholder($color) {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    opacity: 1;
    color: $color;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    opacity: 1;
    color: $color;
  }
}

@mixin cross-browser-input-placeholder($color) {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: center;
    color: $color;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
    opacity: 1;
    color: $color;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    text-align: center;
    color: $color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    text-align: center;
    opacity: 1;
    color: $color;
  }
}

@mixin container() {
  max-width: 100%;
  min-width: 320px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  
  @media (min-width: 576px) {
      max-width: 540px;
      padding-right: 15px;
      padding-left: 15px;
  }
  
  @media (min-width: 768px) {
      max-width: 720px;
  }
  
  @media (min-width: 992px) {
      max-width: 960px;
  }
  
  @media (min-width: 1200px) {
      max-width: 1170px;
  }
}

@mixin input() {
  display: inline-block;
  width: 100%;
  height: 44px;
  padding: 0 20px;
  text-align: center;
  font-size: 18px;
  line-height: 1;
  // font-family: $Roboto-Regular;
  border-radius: 30px;
  color: #222;
  border: 1px solid #ff6000;
  background: transparent;
  transition: border .3s;
}

@mixin inputFull($color) {
  @include input;

  @include cross-browser-input-placeholder($color);
  
  &:focus {
    @include cross-browser-placeholder($color);
    border-width: 2px; 
  }
}

@mixin ban-selection {
  pointer-events: none;
  user-select: none; 
}

@mixin pseudo {
  content: "";
  display: block;
  position: absolute;
}

@mixin items($justify-content: space-between) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify-content;
}

@mixin size-box($width, $height, $bg) {
  font-size: 100px;
  background: url( #{$bg} ) no-repeat 0 0/contain;
  width: $width / 100;
  height: $height / 100;

}

@mixin liquid-img($width, $height) {
  padding-bottom: $height / ($width / 100%);
  position: relative;
  height: 0;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: none;
    overflow: hidden;
  }
}

@mixin h1() {
  font-size: 40px;
  line-height: 1.15;
  // font-family: $Roboto-Black;
  text-transform: uppercase;
  color: #6e1969;

  @media (max-width: 575px) {
    font-size: 6vw;
  }

  @media (max-width: 400px) {
    font-size: 24px;
  }
}

@mixin h2() {
  
}

@mixin h3() {
  
}

@mixin h4() {

}

@mixin h5() {

}

@mixin h6() {
  
}