@import 'variables';
@import 'mixins';

// slick
.slick-slide {
  outline: none !important;
}


// fancybox
#privacy-modal {
  opacity: 0;
  transform: translateY(-50px);
  transition: all .3s;
}

.fancybox-slide--complete #privacy-modal {
opacity: 1;
transform: translateY(0);
}